<%if !current_user%>
<h1>Sign In</h1>

<form action="<%=session_url%>" method="post">

  <label>Email Address</label>
  <input type="text" name="user[email]" value="">
  <label >Password</label>
  <input type="password" name="user[password]" value="">

  <input type="submit" name="Submit" class="btn btn-primary">
</form>

<%=link_to "Sign Up", new_user_url%>

<% else%>
<h1>Sign Out</h1>
<%=button_to "Sign Out", session_url, method: :delete%>
<%end%>


<img class="landing-image" src="public/DSC_0223_Gaurav_Nagpal.jpg" alt="selfie" />
