
<%if !current_user%>
<div class="container">
  <header>
    <h1 id="logo">OurLinks</h1>
    <h4 id="description">Share, sort, and save your favorite content on the web</h4>
  </header>
  <div class="group"></div>
  <div id="top-bar"></div>

    <!-- <div class="landing"> -->
      <div id="wrap" class="group">

    <div class="group" id="sign-in">

      <h1 class="log-in-title">Sign In</h1>
      <form action="<%=session_url%>" method="post">
      <h4>Email Address</h4>
      <div class=form-group>
        <input id="email" type="text" name="user[email]" value="">
      </div>
      <h4 >Password</h4>
      <div class=form-group>
        <input id="password" type="password" name="user[password]" value="">
      </div>
    <div >
      <input id="submit" class="sign-in-btn btn btn-primary" type="submit" name="Submit" class="btn btn-primary">
    </div>
    </form>
    <button class="btn btn-primary" id="guest_signup">Guest Sign In</button><br>
    <span class="sign-in-link"><%=link_to "Not Signed Up? Sign Up Here", new_user_url%></span>
    <script>
      $('#guest_signup').on('click', function () {
        $('#email').val('guest');
        $('#password').val('123123');
        $('#submit').trigger('click')
      })
    </script>

    <% else%>
    <h1>Sign Out</h1>
    <%=button_to "Sign Out", session_url, method: :delete%>
  </div>
  </div>
  <!-- </div> -->
</div>



    <%end%>
