<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @member.fname %></h2>
    <p>
      Check out <%=@poster.fname%>'s new post on Cliquely!
      <br>
      <br>
      <a href="www.cliquely.com">Cliquely</a>
    </p>
  </body>
</html>
