<div class="main-conatiner">
  <div class="row">
    <div class="animated fadeInLeft col-md-3">
      <div id="group-filter">
        <ul class="groups"> </ul>
      </div>

      <div id="tag-filter">
        <ul class="tags"> </ul>
      </div>

        <div id="user-groups" class="clearfix" >
          <h3>My Groups</h3>
        <ul class="user-groups"> </ul>
      </div>
    </div>

    <div class="animated fadeInUp col-md-8">
      <h2 class="title"><%=user.escape('fname')%>'s Favorited Links</h2>
      <ul class="posts"> </ul>
    </div>

  </div>



</div>
