
<h3>Groups</h3>
<ul class="user-groups"> </ul>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="title"><%=user.escape('fname')%></h2>
    </div>

    <div class="col-md-8">
      <div class="root-forms">
        <a id="new-post" class="new-post" href="#">New Post</a>
      </div>
    </div>
  </div>
</div>




<div class="main-conatiner">
  <div class="row">
    <div class="col-md-3">
      <div id="group-filter">
        <ul class="groups"> </ul>
      </div>

      <div id="tag-filter">
        <ul class="tags"> </ul>
      </div>
    </div>

    <div class="col-md-8">
      <h2 class="title">Posts</h2>
      <ul class="posts"> </ul>
    </div>

  </div>
</div>
