  <div class="row">
      <div class="col-xs-2 col-md-1">
          <img width="30px" src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
        <div class="col-xs-10 col-md-11">
        <div class="comment-text">
          <%=comment.escape('text') %>
        </div>
        <div>
            <div class="mic-info">
                <a href="#"><%=OurLinks.currentUserId%></a>
            </div>
        </div>
      </div>
  </div>
