
<div class="form-group">

<textarea class="group-message-text" name="group_message[text]" rows="1" cols="60">Write a message...</textarea>
<input class="btn btn-primary" id="group-message-submit" type="submit" name="some_name" value="Submit">
</div>
