<div class="backdrop-form"></div>
  <div class="modal-content">
    <div class="form-group">
      <span id='delete-box' class="glyphicon glyphicon-remove" aria-hidden="true"></span>

      <h3>Share some cool stuff!</h3>

      <label >Title</label>
      <input class="form-control post-form" type="text" name="post[title]" value=""><br>

      <label >URL</label>
      <input class="form-control post-form" type="text" name="post[url]" value=""><br>

      <label >Description</label><br>
      <textarea class="form-control post-form" name="post[description]" rows="4" cols="20"></textarea><br>

      <ul>
        <label >Who do you want to share this with</label><br>
        <select class="form-control post-form">
        <% OurLinks.currentUser.groups().each(function(group) { %>

          <option name="post[group_ids][]" value="<%=group.id%>"><%=group.escape('title')%></option>

        <% }) %>
      </ul>
    </select>

      <ul>
        <label >Tag it!</label><br>
        <% OurLinks.tags.each(function(tag) { %>
        <input type="checkbox" name="post[tag_ids][]" value="<%=tag.id%>"><%=tag.escape('name')%>
        <% }) %>
      </ul>

  <input class="btn btn-primary" id="submit-post" class="submit" type="submit" value="Post">
  </div>
</div>
