<h3>Share some cool stuff!</h3>

<label >Title</label>
<input class="post-form" type="text" name="post[title]" value=""><br>

<label >URL</label>
<input class="post-form" type="text" name="post[url]" value=""><br>

<label >Description</label><br>
<textarea class="post-form" name="post[description]" rows="8" cols="40"></textarea><br>

<input class="submit" type="submit" value="Post">

<a href='#'>Home</a>
