<div class="backdrop-form"></div>

<div class="modal-content">

<!-- <div id="close-box">
<img src="images/noun_19522.svg"></div> -->

<span id='delete-box' class="glyphicon glyphicon-remove" aria-hidden="true"></span>

  <h3>Share some cool stuff!</h3>

  <label >Title</label>
  <input class="post-form" type="text" name="post[title]" value=""><br>

  <label >URL</label>
  <input class="post-form" type="text" name="post[url]" value=""><br>

  <label >Description</label><br>
  <textarea class="post-form" name="post[description]" rows="4" cols="20"></textarea><br>

  <ul>
    <label >Who do you want to share this with</label><br>
      <% OurLinks.currentUser.groups().each(function(group) { %>

    <input type="checkbox" name="post[group_ids][]" value="<%=group.id%>"><%=group.escape('title')%>

      <% }) %>
  </ul>

  <ul>

    <label >Tag it!</label><br>
      <% OurLinks.tags.each(function(tag) { %>

    <input type="checkbox" name="post[tag_ids][]" value="<%=tag.id%>"><%=tag.escape('name')%>

      <% }) %>
  </ul>


  <input id="submit-post" class="submit" type="submit" value="Post">
</div>
