<button class="app-button like-toggle">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="Layer_1" x="0px" y="0px" width="21px" height="19px" viewBox="0 0 100 93.615" enable-background="new 0 0 100 93.615" xml:space="preserve">
<path d="M99.866 23.353C98.533 10.2 87.5 0 74 0C63.193 0 53.9 6.6 50 15.937C46.062 6.6 36.8 0 26 0 C12.544 0 1.5 10.2 0.1 23.353C0.045 24.2 0 25.1 0 26.013c0 31.6 38.8 46.5 50 67.603h0 c11.212-21.079 50-35.996 50-67.603C100 25.1 100 24.2 99.9 23.353z"/>
</svg>

</button>
