<div class="backdrop-form"></div>

<div class="modal-content">

<h3>Create a group to share content with</h3>

<label >Title</label>
<input class="post-form" type="text" name="group[title]" value=""><br>

<label >Description</label><br>
<textarea class="post-form" name="group[description]" rows="4" cols="25"></textarea><br>

<input id="submit-group" type="submit" value="Create Group">

</div>
