<a href="#groups/<%=group.id%>"> <%= group.escape('title') %></a>

<div class="toggle">
  </div>
  <%if(group.escape('description') ) {%>
  <span class="group-desc">"<%=group.escape('description')%>"</span>
  <%}%>

<br>
