<div class="container group-show">
  <div class="row">
    <div class="col-md-12">
      <h3><%=group.escape('title')%></h3><br>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3">
      <span>"<%=group.escape('description')%>"</span> <br>

      <span>Members</span>
      <ul>
        <%group.members().each(function(member) { %>
        <a href="#users/<%=member.id%>"><%=member.escape('fname')%></a> <br>

        <%}) %>
      </ul>

      <!-- <button class="delete">Delete Group</button> -->
      <a href="#">Home</a>
    </div>
    <div class="col-md-8">
      <div class="ninetyfive">
        <div class="panel panel-default widget" id="group-chat">
          <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
          </div>
          <div class="panel-body">
            <ul class="group-messages"></ul>
          </div>
        </div>
        <div id="message-form"></div>
       </div>
    </div>
  </div>
</div>
