/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";


html{
  font-family: 'ff-angie-web-pro', 'freight-sans-pro', Verdana, Geneva, sans-serif;
  background-color: #65d165;
  /*background-image:  url("space-wallpaper-1920x1080-for-desktop-hd-wallpapers-aduphotocom-abstract-landscape-images-1920x1080-wallpaper.jpg");*/
}

.logged-in{
  float: right;
}

.index-item{
  border: 1px solid #dfd7c9;
  border-radius: 5px;
  background-color: #9966FF;
  overflow: auto

}

ul{
  list-style-type: none
}

.delete{
  /*margin-bottom: 15%*/
  }



button{
  background-color: #b4a995;
}

/*Feed
____________________________________________*/
/*#feed{

}*/


/*Forms
____________________________________________*/
.backdrop-form {
background-color: black;
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
z-index: 252;
opacity: 0.5;
}

.modal-content {
position: absolute;
width: 400px;
height: 500px;
background-color: white;
margin-left: 50%;
transform: translateX(-50%);
padding: 20px;
border-radius: 10px;
z-index: 300
}


.post-form{
  color: #b4a995;
  border: 1px solid #dfd7c9;
  border-radius: 5px;
  background-color: #f8f5f0;
  padding: 0.55em 0.9em;
}

#close-box{
  float: right;
  font-weight: 700px;
  border: thin solid black;
  padding: 3px;
}

#close-box:hover{
  cursor: pointer;
  background-color: #65d165;
}
