/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.svg.css
 *= require_tree .
 *= require_self
 */
 @import "bootswatch/sandstone/variables";
 // @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   background-color: #e9eaed}
 @import "bootswatch/sandstone/bootswatch";
 // @import "base";




body{
  font-family: 'ff-angie-web-pro', 'freight-sans-pro', Verdana, Geneva, sans-serif;
  // background-color: #2b3e50;
  /*background-image:  url("space-wallpaper-1920x1080-for-desktop-hd-wallpapers-aduphotocom-abstract-landscape-images-1920x1080-wallpaper.jpg");*/
}

// Navbar

.root-forms{

}

.new-post {
  padding: 0px 50px;
  font-size: 20px;
  display: block;
  text-align: center;
  position: relative;
  border: 1px solid #c4dbf1;
  background: #ffffff none repeat-x scroll center left;
  font-size: 150%;
  font-weight: bold;
  font-color: #369;
  line-height: 29px;
  height: 29px;
}
.navbar{
   position: relative
 }

.title{
  padding-left: 10px
}

.nav-bar > a{
  padding-left: 40px;
  float: right;
  font-weight: bold
}

.nav-bar{
  margin-right: 15px
}

.container{
  margin: 0
}

.logged-in{
  float: right;
}



#my-groups{
  background-color: #9966FF;
  border: 1px solid #dfd7c9;
  border-radius: 5px;

}

ul{
  list-style-type: none
}

/*Feed
____________________________________________*/

.posts{
  margin-right: 5%;
  margin-left: 0;
  padding-left: 0;
}

.comments{
  font-size: 10px
}

.panel-body{
 padding: 2px;
 height: 50px
}


.resize{
 width: 30px;
 height: auto
}



/*Post-Index-Item
____________________________________________*/
#index-item-title{
  font-size: 30px;


}
.index-item{
  background-color: white;
  margin: 10px;
  padding: 10px;
  overflow: auto
}

.index-item:hover{
  background-color: whitesmoke
}

#like-button {
  float: left;
  vertical-align: middle;
  display: block;
  margin-top: 10px;
}

.liked{
  fill:green
  // background-image: linear-gradient(top, #6496c8, #346392);
  // border-radius: 50%;


}

.liked:hover{
  fill: purple;
}

.unliked{
  fill: darkgrey
}

.unliked:hover{
  fill: purple
}


.post-form{
  color: #b4a995;
  border: 1px solid #dfd7c9;
  border-radius: 5px;
  background-color: #f8f5f0;
  padding: 0.55em 0.9em;
  float: right;
}

.comment-text{

  vertical-align: middle;
  margin-left: 15px
}

.delete-post{
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  float:left;
  vertical-align: middle;
}
  // comments in the index-item
    .panel{
      margin: 0
    }


    .thumbnail{
     padding: 2px;
     height: 50px;
     margin-bottom: 5px
    }

    .img-responsive{

    }


/*Forms
____________________________________________*/

// Modals
.backdrop-form {
background-color: black;
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
z-index: 252;
opacity: 0.5;
}

.modal-content {
position: absolute;
width: 400px;
height: 500px;
// background-color: white;
margin-left: 50%;
transform: translateX(-50%);
padding: 20px;
border-radius: 10px;
z-index: 300
}



// #close-box{
//   float: right;
//   font-weight: 700px;
//   border: thin solid black;
//   padding: 3px;
// }


// Comment Form






#delete-box{
  float:right
}

.toggle{
  font-size: 11px;

}
.not-clicked{
  // background-color: #2b3e50;
  // text-shadow: -1px 1px #346392;
  background-image: linear-gradient(top, #6496c8, #346392);
  // border-radius: 50%;
  border: thin solid black;
  box-shadow: inset 0 0 0 1px #27496d;
  height: 25px;
  padding: 3px;
  margin: 3px;
  width: 75px;
  float: left;

  // color: #fff;
}

.not-clicked:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}


.clicked{
  // background-color: #2b3e50;
  // text-shadow: -2px 2px #346392;
  background-image: linear-gradient(top, #6496c8, #346392);
  // border-radius: 50%;
  border: thin solid black;
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  height: 25px;
  padding: 3px;
  margin: 3px;
  width: 75px;
  float: left;
}






#delete-box:hover{
  cursor: pointer;
  background-color: #65d165;
}
