/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.svg.css
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 $navbar-height: 40px;

 @import "bootswatch/sandstone/variables";
 // @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
  //  background: image_url('http://2.bp.blogspot.com/_CI-kNUtWy3I/Sj6okeW4UeI/AAAAAAAAAKE/EPWmIexMAnA/s1600/DSC_0223_Gaurav_Nagpal.jpg');
  //  background: url('http://2.bp.blogspot.com/_CI-kNUtWy3I/Sj6okeW4UeI/AAAAAAAAAKE/EPWmIexMAnA/s1600/DSC_0223_Gaurav_Nagpal.jpg');
   background-color: #e9eaed;
   height: 100%;
  //  position:relative;
   margin-bottom: 60px
   }
 @import "bootswatch/sandstone/bootswatch";
 // @import "base";

html{
  position: relative;
  min-height: 100%
}


.navbar{
  background-color: #3A64AE;
  border: none
}

.btn{
  background-color: #3A64AE;
}


.form-group{
}
.group:after {
  content: '';
  display: block;
  clear: both;
}

header{
  text-align: center;
  position: relative;
  top: 50px;
}

.title{
  font-family: 'Satisfy', 'cursive';
  }

#top-bar{
  z-index: -1;
  width: 100%;
height: 320px;
position: absolute;
top: 0;
left: 0;
right: 0;
background-color: #3A64AE;
}

#wrap{
  zoom: 1;
  position: relative;
width: 880px;
margin: 0 auto;
text-align: center;
content: "";
display: block;
overflow: hidden;
clear: both;
}




// Splash page
.landing{
  // background: image_url('http://i.imgur.com/5JWKS04.jpg');
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 1000px;
  // width: 100%;
  // top: 0;
  // position: absolute;
  padding-bottom: 0;
  display: block;
  }

h1#logo{
  font-family: 'Satisfy', 'cursive';
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 52px;
  color: white
}

#mvp{
  color: white;

}

#splash-panel{
  padding: 0% 5% 1% 5%;
text-align: center;
font-size: 16px;
}

.log-in-btn{

}

.log-in-title{
  font-family: 'Satisfy', '/cursive';
  position: relative;
  bottom: 20px;
  font-weight: bold;
}
#sign-in{
  border-radius: 5px;
  width: 450px;
  height: 325px;
  margin-left: 50%;
  margin-top: 15%;
  padding: 25px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  border: black thin solid;
  box-shadow: 2px 2px 2px lightgrey
  }

  .sign-in-btn{
    float:left;
    width: 119px;
    margin-left: 15%
  }

  .sign-in-link{
    position: relative;
    top: 10px;
  }

  #sign-up{
    border-radius: 5px;
    width: 600px;
    height: 465px;
    margin-left: 50%;
    margin-top: 10%;
    padding: 25px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    border: black thin solid;
    box-shadow: 2px 2px 2px lightgrey
    }

    .sign-up-btn{
      width: 119px;
    }

    .sign-in-link{
      position: relative;
      top: 10px;
    }

// _____________________________________
body{
  font-family: 'Oxygen', sans-serif;
}

ul{

  list-style-type: none
}

a {
  color: #297DC2
}
/*Forms
____________________________________________*/

// Modals
.backdrop-form {
background-color: black;
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
z-index: 252;
opacity: 0.5;


}

.modal-content {
position: absolute;
width: 400px;
height: 575px;
// background-color: white;
margin-left: 50%;
transform: translateX(-50%);
padding: 10px;
border-radius: 10px;
z-index: 300
}

.app-button{
  background-image: linear-gradient(rgba(255,255,255,0),
  rgba(235,235,235,.3)60%,
  rgba(225,225,225,.6));
  // border: 1px solid #e5e5e5;
  border: 1px solid #c8c8c8;
  height: 26px;
  background-color: #eee;
  // // background-color: #fcfcfc;
  // box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0
  // rgba(255,255,255,.7),inset -1px 0 0
  // rgba(255,255,255,.7),inset 0 -1px 0
  // rgba(255,255,255,.5),inset 1px 0 0
  // rgba(255,255,255,.7);
  webkit-transition:background-color 2s, -webkit-transform 2s;
   transition:background-color 2s, transform 2s;
}

.app-button:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0),inset 0 2px 2px
  rgba(0,0,0,.05),inset 0 1px 1px
  rgba(0,0,0,.08),inset -2px 0 2px
  rgba(0,0,0,.03),inset 0 -1px 0
  rgba(0,0,0,.02),inset 2px 0 2px
  rgba(0,0,0,.03);
  background-color: orange
}

// Comment Form
#comment-submit{
float: right;
line-height: 0px;
// margin-right:17%;
}


#delete-box{
  float:right
}

// footer
footer {
    padding: 15px 0px 10px;
    background-color: #f8f8f8;
    text-align: center;
    background-color: #3A64AE;
    margin-top: 10px;
    bottom:0;
    width:100%;
    // height:60px;   /* Height of the footer */
}

footer a {
  color: white
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}
