/*Feed
____________________________________________*/
#main{
  margin-top: 60px;
}

#main > div > div.container-fluid > div:nth-child(2) > div.col-md-8.filtered-feed {
  margin-left: 3%;
  width: 60%
}

#feed{
  padding: 20px;
border: 1px solid rgba(0,0,0,.1);
background: #e0e1e2;
box-shadow: 3px 3px 3px #888888
}

.posts{
  margin-right: 5%;
  margin-left: 0;
  padding-left: 0;
}

.comments{
  font-size: 10px
}

.panel-body{
  padding: 2px;
}


.resize{
 width: 30px;
 height: auto
}

//New Post form
.new-post {
  font-family: 'Satisfy', 'cursive';
  display: block;
  text-align: center;
  position: relative;
  border: 1px solid black;
  font-size: 150%;
  font-weight: bold;
  font-color: #369;
  line-height: 40px;
  width: 25%;
  margin-left: 30%;
  height: 40px;
  transform: translateX(-25%);
  margin-top: 10px;
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  background-color: #eee;

  webkit-transition:background-color 2s, -webkit-transform 2s;
   transition:background-color 2s, transform 2s;
}

.new-post:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0),inset 0 2px 2px
  rgba(0,0,0,.05),inset 0 1px 1px
  rgba(0,0,0,.08),inset -2px 0 2px
  rgba(0,0,0,.03),inset 0 -1px 0
  rgba(0,0,0,.02),inset 2px 0 2px
  rgba(0,0,0,.03);
  background-color: #3A64AE;
  color: white
}

ul.groups {
  padding-left:25px
}
ul.tags {
  padding-left:25px
}
#user-groups{
  padding-left:25px
}

#my-groups{
  padding-left: 10px
}

#tags{
  padding-left: 10px
}

.user-groups{
  padding-left: 10px
}
