.toggle{
  font-size: 11px;

}
.not-clicked{
  background-image: linear-gradient(top, #6496c8, #346392);
  // border-radius: 50%;
  border: thin solid black;
  box-shadow: inset 0 0 0 1px #27496d;
  height: 25px;
  padding: 3px;
  margin: 3px;
  width: 75px;
  float: left;
}

.not-clicked:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}


.clicked{
  background-image: linear-gradient(top, #6496c8, #346392);
  // border-radius: 50%;
  border: thin solid black;
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  height: 25px;
  padding: 3px;
  margin: 3px;
  width: 75px;
  float: left;
}
