// // Navbar

#main-nav {
  height: 40px;
  position:relative;
  position: fixed
}

#new-post-nav{
  color: white
}

#dropdown{
  color:white
}

#profile{
  color:white
}

#new-post-nav:hover{
  color: lightblue
}

#dropdown:hover{
  color: lightblue
}

#profile:hover{
  color: lightblue
}
