#delete-box:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#delete-box{
  webkit-transition:background-color 1s, -webkit-transform 1s;
   transition:background-color 1s, transform 1s;
}

.post-form-list{
  padding: 0px
}

#tags-checkbox{
  // display: block;
  // float: left;
  font-weight: normal
}

.create-post{
  margin-left: 50%;
  transform: translateX(-50%)
}
