/*Post-Index-Item
____________________________________________*/
#index-item-title{
  font-size: 20px;
}

.index-item{
  background-color: white;
  margin: 10px;
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  webkit-transition:background-color 1s, -webkit-transform 1s;
   transition:background-color 1s, transform 1s;
   box-shadow: 3px 3px 1px rgba(3, 0, 0, 0.17);
}

.index-item:hover{
  background-color: #FFE94C
}

.like-count{
  line-height: 50px
}

.like-count > span{
  padding-left: 10px;
  line-height: 35px
}

#like-button {
  float: left;
  vertical-align: middle;
  display: block;
  margin-top: 10px;
}

.button-group{
  margin-bottom: 0px

}

#delete-post{
  float: left;
  vertical-align: middle;
  display: block;
  margin-top: 10px;
}

.like-toggle{
    margin-right: 5px;
}

.liked{
  fill: #297DC2
}

.unliked:hover{

}

.unliked{
  fill: darkgrey
}



.post-form{
  color: #b4a995;
  border: 1px solid #dfd7c9;
  border-radius: 5px;
  background-color: #f8f5f0;
  padding: 0.55em 0.9em;
  float: right;
}

hr.separator {
  border: 0;
 height: 0; /* Firefox... */
 box-shadow: 0 0 5px 1px black;
}

hr.separator:after {
  content: "\00a0";  /* Prevent margin collapse */
}
