<h2>Our Links</h2>
<div id="form"></div>

<ul class="posts"> </ul>
<ul class="groups"> </ul>

<div class="new-item"> </div>


<a class="new-post" href="#">New Post</a>
<a class="new-group" href="#">Create a new Group</a>
